<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    <add key="Templates" value="file:///C:/mnt/OGen/NTier/templates/templates.config.xml" />
    <add key="Templates" value="http://127.0.0.1/OGen-NTier_templates/templates.config.xml" />

    <add key="Templates" value="file:///o:/OGen-NTier/NTier_templates/templates.config.xml" />
    <add key="ogenPath" value="o:\_release.no-svn" />
    -->
    <add key="Templates" value="file://///127.0.0.1/OGen_source$/OGen-NTier/NTier_templates/templates.config.xml" />
    <add key="ogenPath" value="\\127.0.0.1\OGen_source$\_release.no-svn" />
  </appSettings>
  <system.windows.forms jitDebugging="true" />
</configuration>