<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key="Templates" value="X:\MyDocuments\_RAM-unsorted-COPY\MySharedProjects\OGen-NTier.SVN\NTier_templates\templates.config.xml" /-->
    <add key="Templates" value="file:///X:/MyDocuments/_RAM-unsorted-COPY/MySharedProjects/OGen-NTier.SVN/NTier_templates/templates.config.xml" />
    <!--add key="Templates" value="http://localhost/NTier_templates/templates.config.xml" /-->
  </appSettings>
</configuration>
