<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    <add key="Templates" value="file:///C:/mnt/OGen/Doc/templates/templates.config.xml" />
    <add key="Templates" value="http://127.0.0.1/OGen-Doc_templates/templates.config.xml" />
    -->
    <add key="Templates" value="file://///127.0.0.1/OGen_source$/OGen-Doc/Doc_templates/templates.config.xml" />
  </appSettings>
</configuration>